.users_wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.users {
  &__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 31%;
    background-color: #fff;
    margin-bottom: 1.25rem;
    margin-right: .5rem;
    border-radius: 5px;
    overflow: hidden;
    padding: .75rem;
    box-shadow: 0 0 5px -3px #313131;

    button {
      background-color: #FC8368;
      color: #fff;
      font-weight: bold;
      text-transform: capitalize;
      font-size: .875rem;
      line-height: 1;
      padding: .5rem 1rem .3rem;
      border: 1px solid transparent;
      border-radius: 10px;
      transition: .5s;
      margin-bottom: 1rem;
      margin-top: auto;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: #FC8368;
        border-color: #FC8368;
      }
    }
  }

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 5px #313131;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    margin-left: 1.25rem;
    width: 85%;
  }

  &__userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.125rem;
  }

  &__name {
    margin-bottom: .75rem;
    text-align: center;
  }

  &__status {
    margin-bottom: 1rem;
    text-align: center;
    font-size: .875rem;
    font-style: italic;
  }

  &__viewProfile {
    a {
      color: #313131;
      text-decoration: none;

      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
}