.posts {
  padding: 1rem;

  .title {
    margin-top: 0;
  }

  .new_posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    & > div {
      width: 100%;
    }

    textarea {
      resize: none;
      min-height: 100px;
      width: 50%;
      margin-bottom: .5rem;
      background-color: transparent;
      border-radius: 5px;
      color: #727272;
      padding: .5rem;
    }

    button {
      background-color: #FF7554;
      border: none;
      font-weight: 500;
      padding: .5rem 1.5rem;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}