.sidebar {
  grid-area: sidebar;
  background-color: #313131;
  border-radius: 5px;
  .menu {
    list-style: none;
    padding: 1rem;
    .item {
      font-size: 1.4rem;
      color: #727272;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      &.active {
        color: #FF7554;
      }
    }
  }
}