.sidebar {
  grid-area: sidebar;
  background-color: #4976A8;
  border-radius: 5px;
  .menu {
    list-style: none;
    padding: 1rem;
    .item {
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      &.active {
        color: #2ad0ff;
      }
    }
  }
}