.sidebar {
  grid-area: sidebar;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);

  .menu {
    list-style: none;
    padding: 1rem;
    .item {
      font-size: 1.4rem;
      color: #727272;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      &.active {
        color: #FF7554;
      }
    }
  }

  .friends {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .title {
      color: #FF7554;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .friendsWrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}