.profile {
  .headBg {
    img {
      width: 100%;
      height: 10rem;
    }
  }

  .user {
    display: flex;
    padding: 1rem;

    .imgWrap {
      flex: 0 0 15%;
    }

    &_info {
      flex: 0 0 85%;
    }
  }
}