.item {
  display: flex;
  align-items: center;
  color: #fff;
  padding-bottom: 1rem;

  div {
    &:last-child {
      display: flex;
      flex-direction: column;
    }
  }

  img {
    width: 25px;
    margin-right: 1rem;
  }
}