.dialogs {
  display: grid;
  grid-template-columns: 2.5fr 9.5fr;

  .dialogsItems {
    border-right: 1px solid #FF7554;
    padding: 1.5rem;

    .item {
      display: flex;
      align-items: center;
      color: #727272;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .link {
      color: #727272;
      font-size: 1.125rem;
      font-weight: 500;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }

      &.active {
        color: #FF7554;
      }
    }
  }

  .messages {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 4.6rem 1rem;


    .dialog {
      color: #727272;
      font-size: .875rem;
      font-weight: 500;
      margin-bottom: 2.5rem;


      &:nth-child(even) {
        text-align: right;
        color: #fff;


        span {
          background-color: #FF7554;
        }
      }

      span {
        padding: .625rem;
        border-radius: 5px;
        border: 1px solid #FF7554;;
      }
    }
    
    .inputWrap {
      position: absolute;
      display: flex;
      justify-content: space-between;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1rem;
      border-top: 1px solid #FF7554;

      & > div {
        width: 80%;
      }

      textarea {
        width: 100%;
        resize: none;
        border-radius: 5px;
        border: 1px solid #727272;
        padding: .5rem;
      }

      button {
        width: 18%;
        border-radius: 5px;
        background-color: #FF7554;
        border: none;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

.userIcon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: .625rem;

  img {
    width: 100%;
  }
}