.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 1rem;

  .dialogsItems {
    .item {
      color: #fff;
    }

    .link {
      color: #fff;
    }
  }

  .messages {
    .dialog {
      color: #fff;
    }
  }
}